node_modules
.git
.gitignore
logs
*.log
.env
.env-*
.DS_Store
.idea
.vscode
deploy
nginx
docs
public
README.md
.gitpod.yml
.sequelizerc-pg
.yarn/cache
.yarn/install-state.gz
admin-web/node_modules
admin-web/.yarn
image-artifact.tar.gz
