node_modules
# Ignore the database file
database.sqlite
# Ignore all .env files
.env*
# Ignore DAU backup files
data/
# Ignore PostgreSQL backup files
backups/
/src/rootdatapro/scraper/puppeteer_cache/
/src/rootdatapro/scraper/examplehtml/
.cursor/